<a href="https://colab.research.google.com/github/annatosiifes-tsm/INTMI_2025/blob/main/30-10-2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X = 5
X = 10
(print(x))

10

In [ ]:
# Exemplo de sobrescrita de varíavel
x = 5 # a varíavel recebeu o valor de 5.
x = 10 # a varíavel passou a ser 10
print(x) #imprime o valor de x

10

In [ ]:
num1 = 10
num2 = 15
print (num1 + num2)

25

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o primeiro número'))
print('A resposta é',num1 * num2)

Digite o primeiro número: 15
Digite o primeiro número21
A resposta é 315

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o primeiro número'))
num3 = int(input('Digite o primeiro número'))
print('A resposta é' ,(num1 + num2 + num3/3))

Digite o primeiro número: 15
Digite o primeiro número5
Digite o primeiro número20
A resposta é 26.666666666666668

In [ ]:
26.666666666666668 * 2

53.333333333333336

In [ ]:
26.666666666666668 ** 2

711.1111111111112

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o primeiro número'))
print('A resposta é' ,(num1 % num2))

Digite o primeiro número: 18
Digite o primeiro número19
A resposta é 18

In [ ]:
# exemplos com números interiso e de ponto flutuante
(abs(-10)) # 'A resposta é' ,10
(abs(5.5)) # 'A resposta é' ,5.5

In [ ]:

print('A resposta é' ,(num1 // num2))

Digite o primeiro número: 67
Digite o primeiro número49
A resposta é 1

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o primeiro número'))
print('A resposta é' ,(num1 // num2))

Digite o primeiro número: 67
Digite o primeiro número49
A resposta é 1

In [ ]:
num1 = int(input('Digite o primeiro número'))
num2 = int(input('Digite o primero número'))
modulo_diferança = abs(num1 - num2)
print(f"A soma dos números é: {num1 + num2}")
print(f"O módulo das diferenças dos números é: {abs(num1 - num2)}")

Digite o primeiro número28
Digite o primero número34
A soma dos números é: 62
O módulo das diferenças dos números é: 6

In [ ]:
n = int(input("Digite um número: "))
print(n % 2 == 0)

Digite um número: 6
True

In [ ]:
a = int(input("Digite o primeiro número: "))
b = int(input("Digite o segundo número: "))
print(a > b)

Digite o primeiro número: 12
Digite o segundo número: 13
False

In [ ]:
a = int(input("Digite o primeiro número: "))
b = int(input("Digite o segundo número: "))
print(a == b)

Digite o primeiro número: 68
Digite o segundo número: 98
False

In [ ]:
a = float(input("Digite o primeiro número: "))
b = float(input("Digite o segundo número: "))
print((a + b) > 100)

Digite o primeiro número: 2
Digite o segundo número: 6
False

In [ ]:
idade = int(input("Digite sua idade: "))
print(idade >= 18)

Digite sua idade: 15
False

In [ ]:
n = int(input("Digite um número: "))
print(n % 5 == 0)

Digite um número: 34
False

In [ ]:
a = float(input("Digite o primeiro número: "))
b = float(input("Digite o segundo número: "))
print((a > 0) and (b > 0))

Digite o primeiro número: 2
Digite o segundo número: 6
True

In [ ]:
a = float(input("Digite o primeiro número: "))
b = float(input("Digite o segundo número: "))
print((a < 0) or (b < 0))

Digite o primeiro número: 5
Digite o segundo número: 7
False

In [ ]:
a = float(input("Digite o primeiro número: "))
b = float(input("Digite o segundo número: "))
c = float(input("Digite o terceiro número: "))
print((a < b) and (b < c))

Digite o primeiro número: 9
Digite o segundo número: 3
Digite o terceiro número: 8
False

In [ ]:
a = float(input("Digite o primeiro número: "))
b = float(input("Digite o segundo número: "))
c = float(input("Digite o terceiro número: "))
print((a + b > c) and (a + c > b) and (b + c > a))

Digite o primeiro número: 45
Digite o segundo número: 65
Digite o terceiro número: 78
True

In [ ]:
a = int(input("Digite o primeiro número: "))
b = int(input("Digite o segundo número: "))
print((a * b) % 2 == 0)

Digite o primeiro número: 98
Digite o segundo número: 76
True

In [ ]:
idade = int(input("Digite sua idade"))
if idade >=18:
  print("VocÊ é maior de idade")
else:
  print("VocÊ é menor de idade")

Digite sua idade15
VocÊ é menor de idade

In [ ]:
idade = int(input("Digite sua idade"))
if idade >=18:
  print("Adulto")
elif idade >=14:
  print("junior")
else:
  print("infantil")

Digite sua idade25
Adulto

In [ ]:
numero = int(input("Digite um número: "))
if numero > 10:
    print("O número é maior que 10.")
else:
    print("O número não é maior que 10.")

Digite um número: 8
O número não é maior que 10.

In [ ]:
numero = int(input("Digite um número inteiro: "))
if numero % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

Digite um número inteiro: 98
O número é par.

In [ ]:
nome = str (input('Digite o seu nome '))
if 'A' in nome:
 print('O nome não tem a letra A')
else:
 print('O nome não tem a letra A')

Digite o seu nome anna
O nome não tem a letra A

In [ ]:
num = int(input("Digite um número: "))
if num % 5 == 0:
    print("O número é múltiplo de 5.")
else:
    print("O número não é múltiplo de 5.")

Digite um número: 67
O número não é múltiplo de 5.

In [ ]:
temp = float(input("Digite a temperatura atual em °C: "))
if temp > 30:
    print("Está quente.")
else:
    print("Está frio.")

Digite a temperatura atual em °C: 12
Está frio.

In [ ]:
opcao = input('Digite "S" para continuar ou "N" para sair: ').upper()
if opcao == "S":
    print("Você escolheu continuar.")
elif opcao == "N":
    print("Você escolheu sair.")
else:
    print("Opção inválida.")

Digite "S" para continuar ou "N" para sair: s
Você escolheu continuar.

In [ ]:
num = float(input("Digite um número: "))
if num < 0:
    print("O número é negativo.")
elif num == 0:
    print("O número é zero.")
else:
    print("O número é positivo.")

Digite um número: 23
O número é positivo.

In [ ]:
numero = int(input("Digite um número de 1 a 7: "))

dias = {
    1: "Domingo",
    2: "Segunda-feira",
    3: "Terça-feira",
    4: "Quarta-feira",
    5: "Quinta-feira",
    6: "Sexta-feira",
    7: "Sábado"
}

if 1 <= numero <= 7:
    print("Dia da semana:", dias[numero])
else:
    print("Número inválido!")

Digite um número de 1 a 7: 6
Dia da semana: Sexta-feira

In [ ]:
ano = int(input("Digite um ano: "))

if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    print("Ano bissexto")
else:
    print("Ano não bissexto")

Digite um ano: 2013
Ano não bissexto

In [ ]:
horas = float(input("Digite a quantidade de horas trabalhadas: "))
valor_hora = float(input("Digite o valor por hora: "))

if horas <= 40:
    salario = horas * valor_hora
else:
    extras = horas - 40
    salario = (40 * valor_hora) + (extras * valor_hora * 1.5)

print("Salário total: R$", salario)

Digite a quantidade de horas trabalhadas: 40
Digite o valor por hora: 200
Salário total: R$ 8000.0